/* =============
    Section 1
============= */
#section-1{

    background-image: url('../img/section-1/ocean.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
}

#section-1-text{
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ".section-1-text .";
}

h2{
    font-size: rem-calc(40);
    color: #1A4B58
    text-align: center;
}

h3{
    font-size: rem-calc(30);
    color: #338595
    text-align: center;
}

