/* =============
    Section 3
============= */
#section-3 {
	display: grid;
	grid-template-areas: ". section-3 .";
	grid-template-columns: 15px auto 15px;
    padding: 44px 0 32px;
    
	@include md {
        grid-template-columns: auto 80% auto;
        padding: 32px 0 40px;
    }
    @include lg{
        padding: 70px 0;
    }
	@include xl {
        grid-template-columns: auto 1200px auto;
        padding: 100px 0 80px;
    }
    
    #gallery-1 {
        @include md {
            grid-area: pants;
        }
        div {
            background-image: url("../img/section-3/pants.jpg");
        }
    }