/* =============
    Section 4
============= */
>div {
    grid-area: section-4;
    #section-4-title {
        margin-bottom: 10px;
        @include md {
            margin-bottom: 20px;
        }
        @include xl {
            margin-bottom: 35px;
        }
        h1 {
            font-size: rem-calc(35);
            text-align: center;
            @include lg {
                font-size: rem-calc(45);
            }
        }
    }